# docker-compose.yml
version: '3.8'

services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_DB: analytics_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  etl:
    build:
      context: .
      dockerfile: Dockerfile.etl
    env_file:
      - .env
    depends_on:
      - postgres

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    environment:
      MODE: docker
      POSTGRES_HOST: postgres
      POSTGRES_PORT: 5432
      POSTGRES_DB: analytics_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "8000:8000"
    depends_on:
      - postgres

volumes:
  postgres_data: